# Move Determin Module Configuration

menuconfig MOVE_DETERMIN
    bool "Move Determin Module"
    default n
    help
      This option enables the Move Determin module, which is used for
      determining the movement of objects in a simulation environment.

config ZMK_INPUT_PROCESSOR_TEMP_LAYER_MAX_ACTION_EVENTS
    int "Temporary Layer Input Processor Max Action Events"
    default 4
    depends on MOVE_DETERMIN

